In [1]:
# Conditionals

Conditionals are used to tell a computer what it
should do based on a given logic

In [6]:
# Example: Equality check
x = 125
y = 123
if( x == y): # Double Equals (==) checks for equality
    print("X is equal to y")
else: 
    print("X is not equal to y")

X is not equal to y

Write a program that prints large if X is larger than 100
and prints small otherwise

In [8]:
# for loop

A for loop is used to perform multiple similar operations

In [9]:
# Example: Adding numbers

In [10]:
sum = 0
for x in [1, 5, 10, 20]:
    sum = sum + x
print(sum)

36

Write a program that adds up even numbers in the list [1, 30, 21, 4].
Your sum should be 34

In [12]:
# while loop

A while loop repeats the same task until a certain condition is meant

In [14]:
# Example: square numbers smaller than 10
y = 0
square_numbers = [] # Empty at first
while y ** 2 < 10:
    square_numbers.append(y ** 2)
    y = y + 1
square_numbers

[0, 1, 4, 9]

Use a while loop to create a list of all cubes between 50 and 100

In [16]:
# PART 2 - DATA STRUCTURES

In [17]:
# List

A list is used to store multiple items

In [21]:
# Example 1:
y = [1, 2, 3]
z = list((1, 10, 30))
for item in y:
    z.append(item)
z # prints z

[1, 10, 30, 1, 2, 3]

Type help(list) to find out more operations on list.

Write a program that removes even numbers from a list.


It should be the same list but with odd numbers only

In [28]:
# in keyword

The in keyword is used to test for presence of an item in a collection

In [32]:
# Example
if 3 in [1, 2, 3]:
    print('present')

present

In [33]:
# not Keyword

The not keyword is used to check for false logic

In [35]:
# Example
if not 10 in [1, 2, 4]:
    print("Not present")

Not present


Write a program that checks if list [1, 3, 9] lacks even numbers

In [38]:
# Sort

You can sort a list in many ways. We shall cover the in-place sort

In [ ]:
l = [1, 8,3,4]

You can access an element in a list by its index.

In [9]:
# Break

Break is used to terminate a loop before it completes.

In [10]:
for i in range(5): # range(5) creates an iterator that runs from 0 to 5
    if i == 3:
        break
    print(i)

0
1
2

Given list_of_lists = [[1, 2, 3], [1 ,2], [5], [], [4, 9]]

Write a program that prints out the lists in lists_of_lists.

When the program encouters an empty list, it should stop printing out the lists.

So the program should only print [1, 2, 3], [1, 2]

In [11]:
# Continue

Continue is used to move the loop to the next iteration

In [25]:
for i in range(6): # A loop can also be a while loop
    if i % 2 == 0:
        continue # skips out printing i
    print(f'{i} is odd')

1 is odd
3 is odd
5 is odd

Write a program that loops through the letters of the alphabet.

if the letter is a vowel, do nothing.

Otherwise, print its uppercase version.

You must use continue in your program.

In [37]:
# To get the alphabet
import string # run help(string) to see more variants
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [38]:
# The vowels are:
vowels = ['a', 'e', 'i', 'o']

In [35]:
# To get the uppercase version.
'e'.upper()

'E'

In [16]:
# Tuple

A tuple is like a list.
A tuple is mostly used to store related data eg a tuple of numbers

In [4]:
# Examples
tuple1 = 1, 2, 4 # Tuples are created using commas
tuple2 = "one", "two", "four"
tuple3 = tuple(["Tamale", "Mirundi"])
tuple1, tuple2, tuple3 # This is a tuple of tuples

((1, 2, 4), ('one', 'two', 'four'), ('Tamale', 'Mirundi'))

In [15]:
# You can access items in a tuple using a tuple
a, b = 11, 10 # this can also work on lists
print((a, b))
x, y, *z = (1, 2, 3, 4, 5, 6)
x, y, z

(11, 10)

(1, 2, [3, 4, 5, 6])

Given _tuple = 1, 2, 'a', 3, '0', 1, None

Create a tuple from _tuple consisting of only integers

Create a function that accepts a string and returns a tuple of tuples where each tuple has
5 characters. The last tuple can have fewer characters.

For example consider a function called tupler:

tupler("May Weather") = ('M', 'a', 'y', ' ', 'W'), ('e', 'a', 't', 'h', 'e'), ('r')

In [22]:
import math

In [23]:
math.sqrt(1)

1.0

In [25]:
round(1.23)

1

In [40]:
from fractions import Fraction
from decimal import Decimal

In [31]:
l = list(range(100))

In [48]:
64 ** int(1.03)

64

In [49]:
for no in range(100):
    if no ** 3 in range(100):
        continue
#     print(no)

In [52]:
def is_cube(num):
    if num ** (1 / 3):

1

In [87]:
def is_cube(num):
    if num in cubes:
        return True
    else:
        return False

In [93]:
cubes = []
x = 0
while x < 100 ** (1/3):
    cubes.append(x ** 3)
    x += 1
cubes

[0, 1, 8, 27, 64]

In [95]:
# Using list comprehension
cubes = [x ** 3 for x in range(round(100 ** (1/3)))]
cubes

[0, 1, 8, 27, 64]

In [92]:
cubes

[0, 1, 8, 27, 64]

In [66]:
2 * 3

6

In [2]:
# Data Strucures, Dictionary

A dictionary is used to store key - value pairs

In [7]:
# Examples 
person = dict(name='Agnes', age=24)
book = {
    'title': "Death Hallows",
    'author': "JK Rowling",
    'series': "Harry Potter"
}

In [18]:
# You can access properties of a dictionary item
print(book['author'])
print(book['series'])

JK Rowling
Harry Potter

I have a goat called gulu_gulu. 

It has 4 legs and 2 horns. It is black and gave birth to 3 kids.

Represent gulu_gulu as a dictionary

In [21]:
# A dictionary has keys, values and items. 
# These are refered to as dictionary views
print(book.keys())
print(book.values())
print(book.items()) # returns a tuple of key and value

dict_keys(['title', 'author', 'series'])
dict_values(['Death Hallows', 'JK Rowling', 'Harry Potter'])
dict_items([('title', 'Death Hallows'), ('author', 'JK Rowling'), ('series', 'Harry Potter')])

In [19]:
# We can iterate over each of the views.
# For Example
for k, v in book.items():
    print(f'The key is {k} and its value is {v}')

The key is title and its value is Death Hallows
The key is author and its value is JK Rowling
The key is series and its value is Harry Potter

Iterate over the values in book and print the total number of letters in each value

A dictionary is usually used in conjuction with a list

In [27]:
students = [
    {
        'id': 2002,
        'first_name': 'Ronald',
    },
    {
        'id': 2003,
        'first_name': 'Rooney',
    }
]

In [28]:
for student in students:
    print(student['first_name'])

Ronald
Rooney

Create a list of dictionaries. Each dictionary should be a course unit. 

It should include the course_code, course_name and course_credits.

Use this list to find and print the name of the course unit with the least credits.